*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
     font-family: "Poppins", sans-serif;
}
 /* Hero Section Start */
.container 
{
    background: linear-gradient(rgba(0, 0, 0, .64)),url("https://github.com/jay-borad/Frutikha/blob/main/images/hero-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.row 
{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
   background: black;
   height: 50px;
 
  
}
.col 
{  
    width: 300px;   
    color: white;
    position: relative;
    top: 10px;
}
a{
    color: white;
    text-decoration: none;
    padding: 1px;
}

.icons i:last-child
{
   display: none;
}
.banner-info 
{
    /* background: darkgoldenrod; */
    display: flex;
    flex-direction: column; 
    text-align: center;
 
    
    
}
.Header-info
{
    display: flex;
    flex-wrap: wrap;
}
.banner-info h1
{
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.banner-info p
{
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 15px;
}
.banner-info-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
   
}
.infobtn button:first-child
{
     background: #F28123;
     height: 40px;
     border-radius: 20px;
     border: none;
     width: 150px;
     color: white;
       transition: 1s;
       margin-right: 10px;
       
    
}
.infobtn button:last-child
{
     background: none;
     height: 40px;
     border-radius: 20px;
     border: 2px solid #F28123;
     width: 100px;
     color: white;
     transition: 1s;
}
.infobtn button:first-child:hover
{
    background: black;
    color: #F28123;
    cursor: pointer;
}
.infobtn button:last-child:hover
{
    background: #F28123;
    color: white;
    cursor: pointer;
}
 /* Hero Section close */

/*Features list section start */


.contant h3
{
    color: black;
    font-size: 18px;
    /* display: block; */
     font-family: "Poppins", sans-serif;
     text-align: left;
    

}



.services
{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
     background: #f5f5f5;

    
}
.boxs
{
    display: flex;
    flex-wrap: wrap;
    width: 400px;  height: 200px;
    align-items: center;
    justify-content: center;
    gap:20px;

}

.shipping-icon,.phone-icon,.refund-icon
{
    width: 60px;
      height: 60px;
      border: 2px dotted #F28123;
      border-radius: 50%;
     
      display: flex;
      align-items: center;
      justify-content: center;
      color: #F28123;
      font-size: 28px;

}

/*Features list section close */

/*Product list section start */

.title
{
   
   width: 100%;
   height: 300px;
   /* background: darkcyan; */
   text-align: center;
   padding-top: 150px;
}
.title h1
{
    font-size: 30px;
    font-weight: 900;
     font-family: "Poppins", sans-serif;
 }
 .title p
 {
    font-size: 15px;
    color: #555;
   
 }
 .line
 {
    height: 2px;
    width: 40px;
    background: #F28123;
    /* position: relative;
    left: 50%; */
    margin: 0 auto;
 }
span
{
    color: #F28123;
    font-family: "Poppins", sans-serif;
}
.description
{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    width: 100%;
    height: 600px;
    /* background: darkgreen; */
}
.products   
{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    margin: 30px;
    height: 400px;
    width: 250px;
    /* background: darkmagenta; */
   border-radius: 5px;
    box-shadow: 0 0 20px #e4e4e4;
   
    
}
.product-img-1{
    display: flex;
    justify-content: center;
}
.products img
{
    height: 200px;
    width: 200px;
    background-size: cover;
   
}
.product-price1
{
    font-family:"Poppins", sans-serif ;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}
.product-price
{
   color: #6c757d;
    text-align: center;
    margin-bottom: 20px;
}
h3
{
    text-align: center;
    margin-bottom: 20px
}
.cart-btn
{
    display: flex;
    justify-content: center;
}
.cart-btn button
{
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;

    
}
.products:hover
{
    box-shadow: none;
    
}
.cart-btn button:hover
{
    background: black;
    color: #F28123;
    cursor: pointer;
}
/*Product list section close */

/* Product Deal section start */


.product-deal
{
display: flex;
flex-wrap: wrap;
height: 500px;
background: #f5f5f5;
/* border: 2px solid; */

}
.product-discount
{
   background: #f5f5f5;
   width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-sale
{
    /* background: #F28123; */
   width: 50%;
   height: 300px;
   padding-top: 70PX;
  
}

.product-discount img
{  
    /* height: 300px; */
    background-size: cover;
    width:450px   
}

.product-sale span
{
   color: #F28123;
   text-align: center;
}
.product-sale h2
{
     font-family: "Poppins", sans-serif;
    /* padding: 60px; */
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.25rem;
}
.product-sale h3
{
   
    font-weight: 300;
   text-align: left;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}
.text{
    width: 500px;
    position: relative;
    font-weight: 350;
    line-height: 1.8em;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.time-counter
{
/* background: darkcyan; */
height: 80px;
width: 400px;
padding-top: 30px;

}
.time-countdown
{
/* background: darkgoldenrod; */
height: 20px;
width: 300px;
display: flex;
gap: 3px;
justify-content: center;

}
.counter-column
{
 /* background: darkgreen; */
 height: 60px;
 width: 60px;
 border: 2px solid #F28123;
 text-align: center;
 padding-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 350;
  font-size: 10px;
  
}
.counter-column .count
{
    text-align: center;
    color: #F28123;
    font-weight: bold;
    font-size: 25px;
}
.inner-price .price
{
    color: black;
    text-align: center;
}
.inner-price
{
    width: 100px;
    height: 100px;
    background: #F28123;
    position:absolute;
    top: 70px;
    left: 180px;
    text-align: center;
    padding-top: 30px;
    border-radius: 50px;
}

 .cart-btn2 button
{
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    margin-top: 40px;

    
}
.cart-btn2 button:hover
{
    background: black;
    color: #F28123;
    cursor: pointer;
}

/* Client section start*/

.client{
    
  text-align: center;
  margin: 20px;

}
.client-photo
{
    /* height: 100px; */
    width: 100%;
    border-radius: 50%;
    text-align: center;
    /* margin-top: 100px;
    margin-left: 500px; */
}


.client-photo img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
   
}


.client h3, .client p
{
    color: #868b8e;
    margin: 20px 0px;
}
.client p{
    margin: 0 auto;
    width: 600px;
    font-size: 18px;
    font-style: italic;
}
/* Client section Close*/


/* advertisement section start */ 

.advertisement
{
     /* height: 600px;
     */
     padding: 20px;
}
.adv-row
{
  background: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.adv-col-video
{
     width: 50%;
}
.adv-col-video
{

}

.adv-col
{
    width: 32%;
    /* height: 500px; */
}
.adv-col p
{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: #051922;
    margin: 0 0 1.25rem 0;
}
.adv-col .top-sub
{
    opacity: 0.8;
    margin-bottom: 10px;
}
.adv-col h2
{
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin: 0 0 1.25rem 0;
    color: #051922;
}

.adv-col button
{
     background: #F28123;
     height: 40px;
     border-radius: 20px;
     border: none;
     width: 100px;
     color: white;
     transition: 1s;
     margin-right: 10px;
}
.adv-col button:hover
{
     background: black;
    color: #F28123;
    cursor: pointer;
}

/* advertisement section close */

/* monthly sale info section  start */

.monthly-sale {

background: url('../images/1.jpg');
background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px;
}

.sale-content {
  width: 50%;
}

.sale-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.4;
}

.highlight {
  color: #f97316; 
}

.sale-text {
  margin: 30px 0;
  font-size: 20px;
}
.sale-content p
{
    color: #051922;
}

.percent {
  font-size: 48px;
  font-weight: bold;
  color: #f97316;
}

.shop
{
     background: #F28123;
     height: 40px;
     border-radius: 20px;
     border: none;
     width: 120px;
     color: white;
     transition: 1s;
     margin-right: 10px;
     font-size: 18px;
  font-weight: 500;
}
.shop:hover
{
     background: black;
    color: #F28123;
    cursor: pointer;
}
  /* Monthly sale info section close */

  /*News Section Start */

 .main-card
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
 }
   .card {
      width: 370px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 8px 24px rgba(62, 85, 120, 0.15);
      overflow: hidden;
      margin: 40px 0;
      transition: box-shadow 0.3s ease;
    }
    .card:hover
    {
        box-shadow: none;
    }

    .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      display: block;
    }

    .card-content {
      padding: 30px 22px 22px 22px;
    }

    .card-title {
      font-size: 1.35rem;
      font-weight: bold;
      color: #222c37;
      margin-bottom: 20px;
      line-height: 1.3;
    }

    .card-meta {
      display: flex;
      align-items: center;
      color: #7e868e;
      font-size: 0.95rem;
      margin-bottom: 18px;
    }
    .card-meta i {
      margin-right: 6px;
    }
    .card-meta .date {
      margin-left: 18px;
      display: flex;
      align-items: center;
    }

    .card-text {
      color: #6d7a8a;
      font-size: 1rem;
      margin-bottom: 16px;
      line-height: 1.45;
    }
    .read-more {
      color: #002766;
      font-weight: bold;
      font-size: 1.08rem;
      text-decoration: none;
      transition: color 0.2s;
    }
    .read-more:hover {
      color: #F28123;
      text-decoration: none;
    }

    .more-news{
        display: flex;
        justify-content: center;
    }

    .more-news button
{
     background: #F28123;
     height: 40px;
     border-radius: 20px;
     border: none;
     width: 120px;
     color: white;
     transition: 1s;
     align-items: center;
     /* margin-right: 10px; */
     font-size: 13px;
     font-weight: 500;
  
}
.more-news button:hover
{
     background: black;
    color: #F28123;
    cursor: pointer;
}

 /*News Section close */
/* Logo Section Start */
 .main-logo
 {
    
    margin-top: 50px;
    background: #f5f5f5;
    
 }
 .logo-section
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  
    padding: 20px;
 }
 .logo,.logo1,.logo2,.logo3
 {
    
    width: 25%;
 }
 /* Logo Section Close */

 /* Footer Start */

 .footer-container
 {
     
      background: #051922;
      padding: 150px ;
 }
 .footer-row
 {
     
   
     padding: 20px;
     display: flex;
     flex-wrap: wrap;
  
     justify-content: center;
     gap: 50px;
     
    
 
 }
 .footer-col
 {
     width: 25%;
     
 }
 .footer
 {
    color: #fff;
    opacity: 0.7;
    line-height: 1.8;
 }
 .footer-col h2
 {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    color: #fff;
 }

 .footer-Box-Page ul li
 {
    position: relative;
    padding-left: 20px;
    list-style-type: none;
   
 }
 .footer-Box-Page h2
 {
     color: #fff;
     font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
 }

 
    h2.widget-title:after {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 20px;
    height: 2px;
    background-color: #F28123;
    content: "";

}
.footer-Box-Page ul li::before
{
position: absolute;
    left: 0;
    top: 0;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #F28123;
}
.footer-col form input[type=email]
 {
    border: none;
    background-color: #012738;
    width: 78%;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
 }

 .footer-col form button {
    width: 20%;
    border: none;
    background-color: #012738;
    color: #F28123;
    padding: 14px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    transition: 0.6s;
}
.footer-col form button:hover
{
    background: #F28123;
    color: #012738;
    transition: 0.6s;
}

 /* Footer Close */

 /* Copyright */
 .copyright-container
 {
    padding: 20px;
    background-color: #051922;
    border-top: 1px solid #232a35;
    /* height: 100px; */
 }
 .copyright-row
 {
    display: flex;
    justify-content: space-between;
       margin: 0 auto;
     width: 80%;
flex-wrap: wrap;
   
}
 
 .copyright-col
 {
 
    
      
 }
 .copyright-col p {
    margin: 0;
    color: #fff;
    opacity: 0.7;
    padding: 16px 0;
    font-size: 15px;
    
 }
  .copyright-col p span
  {
    font-weight: bold;
  }

  .social-icon ul li i {
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    padding: 16px 10px;
    
  }
  .social-icon ul li 
  {
    list-style-type: none;
    display: inline;
  }
 